<% if user_signed_in? %>
<% @user = current_user %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <br>
     <%= render 'users/conditions' %>
    </section>
    <section class = "stats">
      <%= render 'shared/profile' %>
    </section>
  </aside>
</div>
<% else %>
<div class="center jumbotron">
	<h1 id="headcent">Welcome to FriendBook</h1>
	<h2 style="text-align: center;">
		A social networking site of the future. 
	
	<%= link_to "Get started!", new_user_session_path, class: "btn btn-lg btn-primary" %>
</h2>
</div>
<%end%>