<h1>Notifications</h1>
<h4>Incoming Requests:</h4>
<ul class="users">
	<% @incoming.each do |request| %>
	<li>
		<% user = User.find_by(id: request.user_id) %>
		<%= gravatar_for user, size: 50%>
		<%= link_to user.name, user %>
	</li>
	<%end%>
</ul>
<hr>
<h4>Pending Requests</h4>
<ul class="users">
	<% @outgoing.each do |request| %>
	<li>
		<% user = User.find_by(id: request.friend_id) %>
		<%= gravatar_for user, size: 50%>
		<%= link_to user.name, user %>
	</li>
	<%end%>
</ul>
<hr>
<h4>Likes and Comments</h4>
<ul class="users">
	<% @posts = current_user.posts %>
	<% @posts.each do |post| %>
	<% @likes = post.likes %>
	<% @likes.each do |like| %>
	<% if like.user_id != current_user.id %>
	<% user = User.find_by(id: like.user_id) %>
	<li>
		<%= gravatar_for user, size: 50%>
		<%= link_to "#{user.name} liked your post", user %>
	</li>
	<% end %>

	<% end %>
	<% end %>
</ul>

<hr>
<ul class="users">
	<% @posts = current_user.posts %>
	<% @posts.each do |post| %>
	<% @comments = post.comments %>
	<% @comments.each do |comment| %>
	<% if comment.user_id != current_user.id %>
	<% user = User.find_by(id: comment.user_id) %>
	<li>
		<%= gravatar_for user, size: 50%>
		<%= link_to "#{user.name} commented on your post", user %>
	</li>
	<% end %>

	<% end %>
	<% end %>
</ul>



